PORT=5001
MONGO_URI="mongodb://localhost:27017/playchess"(update if your MongoDB runs on a different URL)
JWT_SECRET=your_jwt_secret_key
NODE_ENV=development
CLIENT_URL=http://localhost:5173 (update if your client runs on a different URL)